<div class="row-fluid">
	<div class="span3 smallstat box mobileHalf" ontablet="span6" ondesktop="span3">
  		<i class="icon-cogs blue"></i>
  		<span class="title">Projects</span>
  		<span class="value">4 589</span>
	</div>

	<div class="span3 smallstat box mobileHalf" ontablet="span6" ondesktop="span3">
	  <i class="icon-star yellow"></i>
	  <span class="title">Followers</span>
	  <span class="value">789</span>
	</div>

	<div class="span3 smallstat box mobileHalf noMargin" ontablet="span6" ondesktop="span3">
	  <i class="icon-download-alt green"></i>
	  <span class="title">Income</span>
	  <span class="value">$1 999,99</span>
	</div>

	<div class="span3 smallstat mobileHalf box" ontablet="span6" ondesktop="span3">
	  <i class="icon-money yellow"></i>
	  <span class="title">Account</span>
	  <span class="value">$19 999,99</span>
	</div>
</div>
