<center>
	<h1>Welcome to AGB!</h1>
	<script type="text/javascript">
		$(function() {
			$("#sign-up #user_name").val("Pyrrvs");
			$("#sign-up #user_password").val("toto42");
			$("#sign-up #user_password_confirmation").val("toto42");
			$("#sign-up #user_email").val("pyrrvs@agb.com");
		});
	</script>
</center>
