<center>
	<h1>Welcome to AGB!</h1>
	<script type="text/javascript">
		$(function() {
			$("#sign-up #user_name").val("toto");
			$("#sign-up #user_password").val("toto");
			$("#sign-up #user_password_confirmation").val("tot");
			$("#sign-up #user_email").val("toto");
		});
	</script>
</center>