
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>AlphaGameBuilder</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/css/index.css" rel="stylesheet">
   
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">AGB</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Log In<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <form style="margin: 0px" accept-charset="UTF-8" action="/login" method="post">
                    <div style="margin:0;padding:0;display:inline">
                      <input name="utf8" type="hidden" value="&#x2713;" />
                      <input name="authenticity_token" type="hidden" value="4L/A2ZMYkhTD3IiNDMTuB/fhPRvyCNGEsaZocUUpw40=" />
                    </div>
                    <fieldset class='textbox' style="padding:10px">
                     <input style="margin-top: 8px" type="text" name="usermane" placeholder="username" />
                     <input style="margin-top: 8px" type="password" name="password" placeholder="passsword" />
                     <input class="btn-primary" name="commit" type="submit" value="Log In" />
                    </fieldset>
                  </form>
                </ul>
              </li>

            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
