.row-fluid
	.span3
	.span9(style="margin-top:10%;")
		.span1
			%i(class="icon-question" style="margin-top:15px;float:right;font-size:48px")
		.span11
			%h1 You're probably in the wrong place.
			%h1
				Keep calm and
				%a(href="/") click on !