.row-fluid
	.span3
	.span9(style="margin-top:10%;")
		.span1
			%i(class="icon-cogs" style="margin-top:15px;float:right;font-size:48px")
		.span11
			%h1 This page is not available in the alpha version.
			%h1 But relax, we are working on it. ;)