.row-fluid
	.span3
	.span9(style="margin-top:10%;")
		.span1
			%i(class="icon-remove-sign" style="margin-top:5px;float:right;font-size:48px")
		.span11
			%h1 This isn't the page you're looking for...