#debug
  display: none
  position: absolute
  z-index: 42
  top: 0
  left: 0
  canvas
    width: 640px
    height: 640px

.tip
  background-color: white
  padding: 2px 5px
  border-radius: 2px
  border: 1px solid #dddddd
  white-space: pre
  opacity: 1
  font-size: 13px

#worldmaker
  width: 1280px
  margin: auto
  select
    height: 22px
  *[disabled="disabled"]
    color: #999
    cursor: not-allowed
  .btn-micro
    padding: 0px
    font-size: 7pt
    height: 15px
  .icon-add
    background: url("/assets/icon-add.png") no-repeat top left
  .icon-delete
    background: url("/assets/icon-delete.png") no-repeat top left
  .accordion-group a
    text-decoration: none
  .btn-icon, .btn-icon-tiny
    padding: 0px
    width: 22px
    height: 22px
    background-size: 20px 20px
    background-position: 0px 0px
    border-radius: 10px
  .btn-icon:hover, .btn-icon-tiny:hover
    background-position: 0px 0px
    box-shadow: 0px 0px 2px gray
  .btn-icon-tiny
    width: 16px
    height: 16px
    background-size: 14px 14px
  .btn-tiny
    font-size: 8pt
    padding: 0px 5px !important
  .line-top
    position: relative
    margin-top: 10px
    margin-bottom: 10px
  .line-right
    position: absolute
    right: -95px
  .line-top.semi-top
    margin-top: 5px
  .line-top.semi-bot
    margin-bottom: 5px
  .line-top.top
    margin-top: 0px
  .line-top.bot
    margin-bottom: 0px
  .line-top > *
    display: inline-block
    vertical-align: top
  .line-top input[type="text"]
    margin-top: 0px
    margin-bottom: 0px
  .label-input
    margin-right: 5px
  .label-input.pull-right
    margin-right: 8px
  .line-separator
    width: 100%
    height: 1px
    border-radius: 10px
    background-color: rgba(200, 200, 200, 1)
  .input-thin
    padding: 0px 5px !important
  .line-top input[type="checkbox"]
    margin-top: 5px
  .line-top input[type="number"]
    width: 25%
    padding: 0px 2px
    margin: 0px
  .separator
    margin: 0 5px
    width: 1px
    height: 20px
    border-radius: 10px
    background-color: rgba(200, 200, 200, 1)
  .accordion-heading
    position: relative
    .accordion-toggle
      padding: 2px 5px
    .btn-accordion, .caret
      position: absolute
    .btn-accordion
      right: 22px
      top: 0
    .caret
      right: 10px
      top: 10px

#level-view
  width: 200px
  margin-left: 2px
  height: 516px
  #save
    width: 100%
  input[type="text"]
    width: 80%
  #level-list
    height: 455px
    overflow: scroll        
    .accordion-inner
      padding: 6px
      ul
        margin-left: 0
        margin-bottom: 0
        list-style: none
      .entity
        border-radius: 4px
        padding: 0 6px
        border: 1px #f5f5f5 solid
      .entity:hover
        background-color: #e0e0e0
      .entity.selected
        border: 1px #dfdfdf solid
        background-color: #f0f0f0
      .btn
        margin: -18px 2px
      a
        display: block
        border-radius: 5px

#game-view
  margin-left: 5px
  #menu .line-top
    margin: 0px
  #canvas-view
    cursor: move
    width: 640px
    height: 480px

#menu-view
  width: 340px
  height: 516px
  margin-left: 5px
  margin-right: 2px
  select
    width: 100px
  #tabs
    margin-bottom: 10px
  .nav-tabs > li > a
    padding: 0px 8px
  .tab-content
    overflow: visible !important
  #tabs-view #id
    margin-left: 20px
  .tab-pane
    height: 484px
    overflow: scroll
  .vertex .icon-delete
    margin-left: 15px
  input[type="radio"]
    margin-top: -1px
  .radio-group span
    margin-left: 5px
  .fixture.highlight
    border: 1px solid #08c
  .fixture #pos-y
    margin-left: 36px
